<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<style>
    input {
        border-bottom: 1px solid black;
    }
    input{white-space: nowrap;}
</style>
<body>
<br><br><br><br>
<section
        class="bg-img1 txt-center p-lr-15 p-tb-92"
        style="background-image: url(/images/bg-01.jpg)">
    <h2 class="ltext-105 cl0 txt-center">상품추가</h2>
</section>
<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <form>
        <div class="flex-w flex-tr">

            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">

                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        이미지를 추가하세요.
                    </h4>

                    <div>드래그앤드롭 div 작성</div>

            </div>

            <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                <div class="flex-w w-full p-b-42">

                    <div class="mtext-105 size-212 p-t-2">
							<span class="mtext-110 cl2">
								상품명
							</span>
                            <input type="text" class="underline" name="productName">
                    </div><br><br>
                    <div class="mtext-105 size-212 p-t-2">
							<span class="mtext-110 cl2">
								상품개수
							</span>
                    </div>
                    <input type="number" value="1"/><br><br>
                    <div class="mtext-105 size-212 p-t-2">
							<span class="mtext-110 cl2">
								상품가격
							</span><div style="display:flex; column-gap:10px">
                        <input type="text" class="underline" name="productPrice">원</div>
                    </div><br><br>
                    <div class="mtext-105 size-212 p-t-2">
							<span class="mtext-110 cl2">
								카테고리
							</span>
                    </div><br><br>
                    <div>
                        <select name="category">
                            <option value="cardigan">가디건</option>
                            <option value="outer">아우터</option>
                            <option value="padding" selected="selected">패딩</option>
                            <option value="raincoat">우비</option>
                        </select>
                    </div><br><br>
                    <div class="size-212">
                        <span class="mtext-110 cl2">
								상품정보 입력
							</span>
                        <textarea placeholder="상품정보를 여기에 입력하세요..........." style="width: 100%;border: 1px solid #b7b7b7;padding: .3rem;" rows="7"></textarea>
                    </div>
                    <button class="stext-101 cl0 size-101 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer my-3" type="submit" style="width: calc(100% - 60px);">등록하기</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</section>
</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</html>