<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<body style="animation-duration: 1500ms; opacity: 1;">
<section class="bg0 p-t-23 p-b-140">
    <br><br><br><br><br><br><br><br><br>

        <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md"
             style="margin: 0 auto; padding-left: 35px; padding-right: 35px">
            <h4 class="mtext-105 cl2 txt-center p-b-30" style="font-size: xxx-large; ">
                <strong>Login</strong>
            </h4>

            <!-- 로그인 버튼 클릭시 /login 이 발동됨 /login 이 발동되면
             스프링은 IoC 컨테이너에서 UserDetailsService 로 등록되어 있는 타입을 찾는다.
             그러면 PrincipalDetailsService 를 찾게 된다. 그래서 loadUserByUsername 가
             실행이 된다. 이때 넘어온 파라미터 userId 를 들고 가게 된다. -->

            <form id="frm" name="frm" th:action="@{/loginPost}" method="POST" th:object="${user}">
            <div class="bor8 m-b-20 how-pos4-parent" style="border-radius: 8px; display: flex">
                <div name="id-icon" style="position: relative; top:15px; left:15px;">
                    <i class="fa-solid fa-id-badge fa-lg" aria-hidden="true"></i>
                    <script src="https://kit.fontawesome.com/adce1e4903.js" crossorigin="anonymous"></script>
                </div>
                <input class="stext-111 cl2 plh3 size-116 p-r-30" style="padding-left: 30px" type="text" id="userID"  name="userID"
                       placeholder="아이디를 입력해주세요." required />
            </div>



            <div class="bor8 m-b-20 how-pos4-parent" style="border-radius: 8px; display: flex">
                <div name="password-icon" style="position: relative; top:15px; left:15px;">
                    <i class="fa-solid fa-key fa-lg" aria-hidden="true"></i>
                    <script src="https://kit.fontawesome.com/adce1e4903.js" crossorigin="anonymous"></script>
                </div>
                <input class="stext-111 cl2 plh3 size-116 p-r-30" style="padding-left: 30px" type="password" id="userPwd"  name="userPwd"
                       placeholder="비밀번호를 입력해주세요." required />
            </div>

            <!-- remeber me 체크박스 -->
            <div class="form_checkbox_user">
                <input class="form_checkbox_input" type="checkbox" id="remember_me" name="remember-me" />
                <label class="login_checkbox" for="remember_me">
                로그인 상태 유지
                </label>
            </div>

            <br>

            <button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                로그인
            </button>
            <br>
            <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                카카오 연동
            </button>
            </form>

            <br>

            <li>
                <p><u>아이디 찾기</u></p>
            </li>

            <li>
                <p><u>비밀번호 찾기</u></p>
            </li>

            <li>
                <a href="/register"><p><u>회원이 아니신가요?</u></p></a>
            </li>


        </div>
        <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
</section>
</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</html>