<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<body style="animation-duration: 1500ms; opacity: 1;">
<section class="bg0 p-t-23 p-b-140">
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
        <form id="loginForm" method="post" action="<%=request.getContextPath()%>/member/loginPost" %>
            <h4 class="mtext-105 cl2 txt-center p-b-30">
                로그인
            </h4>

            <div class="bor8 m-b-20 how-pos4-parent">
                <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="id"
                       placeholder="아이디를 입력해주세요.">
                <img class="how-pos4 pointer-none" alt="ICON">
            </div>

            <div class="bor8 m-b-20 how-pos4-parent">
                <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="email"
                       placeholder="비밀번호를 입력해주세요.">
                <img class="how-pos4 pointer-none" alt="ICON">
            </div>

            <div class="bor8 m-b-20 how-pos4-parent">
                <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="email"
                       placeholder="아이디를 입력해주세요.">
                <img class="how-pos4 pointer-none" src="images/icons/icon-email.png" alt="ICON">
            </div>


            <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                Submit
            </button>
        </form>
    </div>


</section>
</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</html>