<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>


<!--<meta charset="UTF-8">-->
<!--<link rel="stylesheet" type="text/css" href="/../../static/css">-->


<body style="animation-duration: 1500ms; opacity: 1;">
<section class="bg0 p-t-23 p-b-140">

  <!-- Title page -->
  <section class="txt-center p-lr-15 p-tb-92">
    <h2 class="ltext-105 txt-center" style="color: #062c33">
      회원정보 수정
    </h2>

    <div style="display: flex">
      <p class="cl2" style="margin-left: 42.5%; padding-top: 1.5%; font-family: Poppins-Medium; font-size: 20px;">안녕하세요!&nbsp;${my.userName}&nbsp;회원님</p>
    </div>
  </section>


  <div style="display: flex; justify-content: space-around">
    <div>
      <div class="p-t-55" style="padding-left: 10px; width: 8%">
        <h4 class="mtext-112 cl2 p-b-33">
          Categories
        </h4>

        <ul style="white-space: nowrap;">
          <li class="bor18">
            <a href="/orderlist" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
              주문 조회
            </a>
          </li>

          <li class="bor18">
            <a href="/user/mypage" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
              마이페이지
            </a>
          </li>

          <li class="bor18">
            <a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
              배송지 관리
            </a>
          </li>

          <li class="bor18">
            <a href="/user/modify" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
              회원정보수정
            </a>
          </li>


        </ul>
      </div>
    </div>

    <!-- name,email,address,phone_number,role(구매자,관리자),createDate -->
    <div style="margin-right: 30%; line-height: 3.666667; padding-top: 1%">

      <p class="cl2" style="margin-right: 61.8%; font-family: Poppins-SemiBold; font-size: 20px; border-bottom:35px">기본정보</p>

      <form name="modifyContent" style="white-space: nowrap;">

        <div style="display: flex">
          <p class="cl2" style="margin-right: 16.7%; font-family: Poppins-Medium; font-size: 22px;">이름&nbsp;</p><p style="color: red">*</p>
          <input name="userName" id="userName" type="text" value="${my.userName}"
                 class="dis-block cl6 hov-cl1 trans-04 p-tb-8 p-lr-4"
                 style="border: 0; border-bottom: 1px solid #e6e6e6; font-family: Poppins-Regular; font-size: 15px;"></input>
        </div>


        <div style="display: flex">
          <p class="cl2" style="margin-right: 13.5%; font-family: Poppins-Medium; font-size: 22px;">아이디&nbsp;</p><p style="color: red">*</p>
          <input name="id" id="id" type="text" value="${my.id}"
                 class="dis-block cl6 hov-cl1 trans-04 p-tb-8 p-lr-4"
                 style="border: 0; border-bottom: 1px solid #e6e6e6; font-family: Poppins-Regular; font-size: 15px;"></input>
          <p class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4 bor18">(영문소문자/숫자,4~15자)</p>
        </div>

        <div style="display: flex">
          <p class="cl2" style="margin-right: 10.2%; font-family: Poppins-Medium; font-size: 22px;">비밀번호&nbsp;</p><p style="color: red">*</p>
          <input name="userPwd" id="userPwd" type="password" value="${my.userPwd}"
                 class="dis-block cl6 hov-cl1 trans-04 p-tb-8 p-lr-4"
                 style="border: 0; border-bottom: 1px solid #e6e6e6; font-family: Poppins-Regular; font-size: 15px;"></input>
          <p class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4 bor18">(4~15자)</p>
        </div>


        <div style="display: flex">
          <p class="cl2" style="margin-right: 3.1%; font-family: Poppins-Medium; font-size: 22px;">비밀번호 확인&nbsp;</p><p style="color: red">*</p>
          <input name="userPwdCheck" type="password" value="${my.userPwd}"
                 class="dis-block cl6 hov-cl1 trans-04 p-tb-8 p-lr-4"
                 style="border: 0; border-bottom: 1px solid #e6e6e6; font-family: Poppins-Regular; font-size: 15px;"></input>
        </div>


        <div style="display: flex">
          <p class="cl2" style="margin-right: 11%; font-family: Poppins-Medium; font-size: 22px;">일반전화</p>
          <input name="phoneNum" id="phoneNum" type="tel"
                 class="dis-block cl6 hov-cl1 trans-04 p-tb-8 p-lr-4"
                 style="border: 0; border-bottom: 1px solid #e6e6e6; font-family: Poppins-Regular; font-size: 15px;"></input>
        </div>

        <div style="display: flex">
          <p class="cl2" style="margin-right: 10.3%; font-family: Poppins-Medium; font-size: 22px;">휴대전화&nbsp;</p><p style="color: red">*</p>
          <input name="userPhone" id="userPhone" type="tel" value="${my.userPhone}"
                 class="dis-block cl6 hov-cl1 trans-04 p-tb-8 p-lr-4"
                 style="border: 0; border-bottom: 1px solid #e6e6e6; font-family: Poppins-Regular; font-size: 15px;"></input>
        </div>

        <div style="line-height: 4">
          <div style="display: flex">
            <p class="cl2" style="margin-right: 3%; font-family: Poppins-Medium; font-size: 22px;">SMS 수신여부&nbsp;</p><p style="color: red">*</p>
            <input name="smsReceive" id="smsReceive" type="checkbox" checked
                   class="dis-block cl6 hov-cl1 trans-04 p-tb-8 p-lr-4"
                   style="border: 0; border-bottom: 1px solid #e6e6e6; font-family: Poppins-Regular; font-size: 15px;"></input>
            <label for="smsReceive">수신함</label>
            <input name="smsNotReceive" id="smsNotReceive" type="checkbox"
                   class="dis-block cl6 hov-cl1 trans-04 p-tb-8 p-lr-4"
                   style="border: 0; border-bottom: 1px solid #e6e6e6; font-family: Poppins-Regular; font-size: 15px;">
            <label for="smsNotReceive">수신안함</label>
          </div>
          <p class="dis-block cl6 hov-cl1 trans-04 p-tb-8 p-lr-4"
             style="border: 0; font-family: Poppins-Regular; font-size: 15px;">쇼핑몰에서 제공하는 유익한 이벤트 소식을 SMS로 받으실 수 있습니다.</p>
        </div>

        <div style="display: flex">
          <p class="cl2" style="margin-right: 13.5%; font-family: Poppins-Medium; font-size: 22px;">이메일&nbsp;</p><p style="color: red">*</p>
          <input name="userEmail" id="userEmail" type="email" value="${my.userEmail}"
                 class="dis-block cl6 hov-cl1 trans-04 p-tb-8 p-lr-4"
                 style="border: 0; border-bottom: 1px solid #e6e6e6; font-family: Poppins-Regular; font-size: 15px;"></input>
        </div>

        <div style="line-height: 4">
          <div style="display: flex">
            <p class="cl2" style="margin-right: -0.2%; font-family: Poppins-Medium; font-size: 22px;">이메일 수신여부</p><p style="color: red">&nbsp;*</p>
            <input name="emailReceive" id="emailReceive" type="checkbox" checked
                   class="dis-block cl6 hov-cl1 trans-04 p-tb-8 p-lr-4"
                   style="border: 0; border-bottom: 1px solid #e6e6e6; font-family: Poppins-Regular; font-size: 15px;"></input>
            <label for="emailReceive">수신함</label>
            <input name="emailNotReceive" id="emailNotReceive" type="checkbox"
                   class="dis-block cl6 hov-cl1 trans-04 p-tb-8 p-lr-4"
                   style="border: 0; border-bottom: 1px solid #e6e6e6; font-family: Poppins-Regular; font-size: 15px;">
            <label for="emailNotReceive">수신안함</label>
          </div>
          <p class="dis-block cl6 hov-cl1 trans-04 p-tb-8 p-lr-4"
             style="border: 0; font-family: Poppins-Regular; font-size: 15px;">쇼핑몰에서 제공하는 유익한 이벤트 소식을 이메일로 받으실 수 있습니다.</p>
        </div>


        <div class="txt-center" style="display: flex">
          <button class="flex-c-m stext-101 cl0 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" onclick="member_quit()"
                  type="submit" style="width: 25%; height: 35px;">
            회원탈퇴
          </button>
          <br>
          <button class="flex-c-m stext-101 cl0 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" onclick="location.href='/'"
                  type="submit" style="width: 25%; height: 35px;">
            취소
          </button>
        </div>

      </form>
    </div>

  </div>


</section>
</body>

<!-- 탈퇴 버튼 누르면 일어나는 js -->
<script type="text/javascript">

  function member_quit() {// 회원탈퇴 페이지에서 탈퇴버튼 누르면 한번 더 묻는 메시지 띄어주고 확인 버튼 누르면 비밀번호 체크하는 창 띄워주기

    if(confirm('정말로 회원탈퇴를 하시겠습니까?') == true) {
      return checkPassword();
    }
    else {
      return;
    }

  }
</script>

<!-- 비밀번호 일치 여부 확인하는 js -->
<script type="text/javascript">
  function checkPassword() {// 탈퇴하기 위해 비밀번호 입력하고 비밀번호가 맞는지 체크한 후 탈퇴하도록 해주는 함수

  }
</script>



<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>
