<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<body>
<section class="bg0 p-t-23 p-b-140">
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="container">여기에 적을거 적자 ex) 로그인, 회원가입 등등..</div>
    <div class="container">example1</div>
    <div class="container">example2</div>
    <div class="container">example3</div>

</section>
</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</html>